body {
    font-family: 'Catamaran', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 45vh;
}
nav img{
    width: 100vw;
    height: 46vh;

}
main { display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}
    main h2{
        font-size: 2.4rem;
       
    }
    .heading h2{
border-bottom: 1px solid black;
text-align: center;
    }
  
    .heading-2 h1{
        font-size: 3.4rem;
    font-weight: 900;
    }
    footer{
        display: grid;
        padding:0px 60px;
        font-weight: 600;
font-size: 16.5px;
        grid-template-columns: 25% 50% 25%;
    
       
    }
    footer div img{
     margin: 0px 100px;
     width: 580px;
     height: 399px;
    }
    .img2{
      
        height: 630px;   
    }